__pycache__
.tmp.driveupload
*.ini
checkpoints
*.asv
*.hidden
.venv
*.mov
./testing/continuum_arduino/continuum_arduino.py
./testing/narx_smd/spring_mass_damper.py
./testing/narx_smd/NARX.py
./testing/constant_curvature_testing/mike_cc.py
./testing/constant_curvature_testing/utils_cc.py
./testing/constant_curvature_testing/camarillo_cc.py
./testing/continuum_aurora/kinematics.py
./testing/continuum_aurora/continuum_aurora.py
./testing/continuum_aurora/utils_data.py
./.venv/lib64
./.venv/bin/python3
./.venv/bin/python3.10
./.venv/bin/python
./experiments/model_learning/kinematics.py
./experiments/model_learning/mike_cc.py
./experiments/model_learning/utils_data.py
./experiments/model_learning/utils_cc.py
./experiments/model_learning/ANN.py
./experiments/model_learning/camarillo_cc.py
./experiments/model_control/kinematics.py
./experiments/model_control/continuum_arduino.py
./experiments/model_control/continuum_aurora.py
./experiments/model_control/utils_data.py
./experiments/model_control/utils_cc.py
./experiments/model_control/ANN.py
./experiments/model_control/camarillo_cc.py
./experiments/sweep/pyplot_units.py
./experiments/sweep/kinematics.py
./experiments/sweep/mike_cc.py
./experiments/sweep/continuum_arduino.py
./experiments/sweep/continuum_aurora.py
./experiments/sweep/utils_data.py
./experiments/sweep/utils_cc.py
./experiments/sweep/camarillo_cc.py
./experiments/tensioning/kinematics.py
./experiments/tensioning/continuum_arduino.py
./experiments/tensioning/continuum_aurora.py
./experiments/aurora_timing/kinematics.py
./experiments/aurora_timing/continuum_aurora.py
./experiments/constant_curvature/kinematics.py
./experiments/constant_curvature/mike_cc.py
./experiments/constant_curvature/continuum_arduino.py
./experiments/constant_curvature/continuum_aurora.py
./experiments/constant_curvature/utils_data.py
./experiments/constant_curvature/utils_cc.py
./experiments/base_position/kinematics.py
./experiments/base_position/continuum_aurora.py
./experiments/base_position/utils_data.py
./experiments/motor_babble/kinematics.py
./experiments/motor_babble/continuum_arduino.py
./experiments/motor_babble/continuum_aurora.py
./experiments/motor_babble/utils_data.py
./experiments/composite_photo/continuum_arduino.py
./experiments/spie_demo/continuum_arduino.py
./experiments/point_mesh/kinematics.py
./experiments/point_mesh/utils_data.py
./experiments/point_mesh/ANN.py
./experiments/camarillo_fitting/kinematics.py
./experiments/camarillo_fitting/mike_cc.py
./experiments/camarillo_fitting/continuum_arduino.py
./experiments/camarillo_fitting/continuum_aurora.py
./experiments/camarillo_fitting/utils_data.py
./experiments/camarillo_fitting/utils_cc.py
./experiments/camarillo_fitting/camarillo_cc.py
./experiments/transient/kinematics.py
./experiments/transient/continuum_arduino.py
./experiments/transient/continuum_aurora.py
./experiments/transient/utils_data.py
./experiments/repeatability/kinematics.py
./experiments/repeatability/continuum_arduino.py
./experiments/repeatability/continuum_aurora.py
./experiments/repeatability/utils_data.py
./setup/servo_setup/continuum_arduino.py
./setup/spine_setup/continuum_arduino.py
./testing/multi_input/utils_data.py
./testing/multi_input/ANN.py
./testing/multi_input/multi_input.py
./experiments/multi_input_learning/kinematics.py
./experiments/multi_input_learning/utils_data.py
./experiments/multi_input_learning/ANN.py
./experiments/multi_input_learning/multi_input.py
./experiments/multi_input_control/kinematics.py
./experiments/multi_input_control/utils_data.py
./experiments/multi_input_control/ANN.py
./experiments/multi_input_control/multi_input.py
./experiments/two_segment_learning/kinematics.py
./experiments/two_segment_learning/utils_data.py
./experiments/two_segment_learning/utils_cc.py
./experiments/two_segment_learning/ANN.py
./experiments/two_segment_learning/camarillo_cc.py
./experiments/model_comparison/kinematics.py
./experiments/model_comparison/mike_cc.py
./experiments/model_comparison/utils_data.py
./experiments/model_comparison/utils_cc.py
./experiments/model_comparison/ANN.py
./experiments/model_comparison/camarillo_cc.py
./experiments/model_comparison/multi_input.py
./experiments/hysteresis_replication/utils_cc.py
./experiments/hysteresis_replication/camarillo_cc.py
./experiments/multi_input_control/continuum_arduino.py
./experiments/multi_input_control/continuum_aurora.py
./experiments/multi_input_control/continuum_control.py
